---
layout: default
title: Accelerytics
---
<section id="landing" class="min-vh-100 d-flex flex-column w-100">
	
	{% include header.html %}

	<div class="container flex-grow-1 d-flex flex-column">
		
		<div class="row flex-grow-1">
			<div class="col-10 col-md-6 my-auto">
				<img src="assets/images/logo_dark.png" alt="Accelerytics logo" height=60>
				<h5 class="mb-5">Accelerating your personal development through digital skills education.</h5>
			</div>
		</div>

		<div class="row flex-grow-1 d-flex flex-column px-2">
			<div class="col-12 col-md-4 my-5 jumbotron">
				<h2 class="bf">Coming Soon!</h2>
				<p>We're working hard to finish the development of this site. Our target launch date is <span class="font-weight-bold">end of January!</span></p>
				<p>If you have any questions in the meantime, please contact us at <a href="mailto:contact@accelerytics.com" style="color: #EB5E28">contact@accelerytics.com</a>.</p>
			</div>
				<!-- <div class="col-10 col-md-4 d-flex my-5">
					<div class="card w-100">
						<div class="card-header">
							<h5 class="card-title font-weight-bold mb-0">Digital Workshops</h5>
						</div>
						<div class="card-body flex-fill">
							<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
						</div>
						<div class="card-footer text-center">
							<a href="#" class="btn btn-action">Find out more</a>
						</div>
					</div>
				</div> -->
				<!-- <div class="col-10 col-md-4 d-flex my-5">
					<div class="card w-100">
						<div class="card-header">
							<h5 class="card-title font-weight-bold mb-0 bf">Digital Academy</h5>
						</div>
						<div class="card-body flex-fill">
							<p class="card-text">Test.</p>
						</div>
						<div class="card-footer text-center">
							<a href="#" class="btn btn-action">Find out more</a>
						</div>
					</div>
				</div>
				<div class="col-10 col-md-4 d-flex my-5">
					<div class="card w-100">
						<div class="card-header">
							<h5 class="card-title font-weight-bold mb-0 bf">Smart Solutions</h5>
						</div>
						<div class="card-body flex-fill">
							<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
						</div>
						<div class="card-footer text-center">
							<a href="#" class="btn btn-action">Find out more</a>
						</div>
					</div>
				</div> -->
		</div>
	</div>
	<!-- <div class="container-fluid bg-dark">
		<div class="row my-3">
			<div class="col-12">
				<h2 class="text-center">Our Clients</h2>
			</div>
			<div class="col-4">
				<p class="text-center">Logo 1</p>
			</div>
			<div class="col-4">
				<p class="text-center">Logo 2</p>
			</div>
			<div class="col-4">
				<p class="text-center">Logo 3</p>
			</div>
		</div>
	</div> -->
</section>

<!-- <section id="team" class="min-vh-100 d-flex flex-column">
	<div class="container flex-grow-1">
		<div class="row my-5 justify-content-center">
			<div class="col-12 my-5">
				<h2 class="bf">The Team</h2>
			</div>
			{% assign sorted-employees = site.employees | sort: 'position' %}
			{% for employee in sorted-employees %}
				<div class="col-10 col-md-4 my-4 px-2" style="max-width: 400">
					<div class="card">
	  					<img src="assets/images/{{ employee.image }}" class="card-img-top">
	  					<div class="card-body">
	    					<h6 class="card-title mb-0 font-weight-bold">{{ employee.name }}</h6>
	    					<p>{{ employee.position }}</p>
					  	</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	<div class="container-fluid bg-dark">
		<div class="row my-5">
			<div class="col-12">
				<blockquote class="blockquote text-center text-white">
	  				<p class="mb-0">“If you can’t explain it simply, you don’t understand it well enough.”</p>
	  				<footer class="blockquote-footer"><cite title="Source Title">Albert Einstein</cite></footer>
				</blockquote>
			</div>
		</div>
	</div>
</section> -->

<!-- <section id="contact" class="min-vh-100 d-flex flex-column">
	<div class="containerfluid d-flex flex-column flex-grow-1 justify-content-center">
		<div class="row flex-grow-1">
			<div class="d-none d-md-block col-6 my-auto">
				<img class="img-fluid" src="assets/images/contact.png">
			</div>
			<div class="col-10 col-md-6 my-auto">
				<h2 class="font-weight-bold">Contact us.</h2>
				<p>contact@accelerytics.com</p>
				<p>+31 6 48 23 93 16</p>
			</div>
		</div>
	</div>
</section> -->