---
layout: default
title: Accelerytics
---
<div id="landing" class="d-flex flex-column w-100">
	
	{% include header.html %}
	
	<div class="container flex-grow-1 d-flex flex-column">

		<div class="row flex-grow-1">
			<div class="col-8 col-md-6 my-auto">
				<h1 class="bf">Empowering you to accelerate.</h1>
				<p class="my-2">Together we identify your opportunities, deliver smart solutions and transfer our knowledge and skills to your people.</p>
				<!-- <a href="#" class="btn btn-action">Digital Academy</a>
				<a href="#" class="btn btn-action">Smart Solutions</a> -->
			</div>
		</div>

		<!-- <div class="row flex-grow-1 d-flex flex-column mx-0">
			<div class="row mx-0 my-auto">
				<div class="col-10 col-md-4 d-flex my-4 pl-0 pr-2">
					<div class="card w-100">
						<div class="card-header">
							<h5 class="card-title bf mb-0">Digital Academy</h5>
						</div>
						<div class="card-body flex-fill">
							<p class="card-text">Empowering your people with analytical and digital skills through tailor-made programs.</p>
						</div>
						<div class="card-footer">
							<a href="#" class="btn btn-action">Find out more</a>
						</div>
					</div>
				</div>
				<div class="col-10 col-md-4 d-flex my-4 px-2">
					<div class="card w-100">
						<div class="card-header">
							<h5 class="card-title bf mb-0">Smart Solutions</h5>
						</div>
						<div class="card-body flex-fill">
							<p class="card-text">Together we identify your opportunities and deliver data-driven and smart solutions.</p>
						</div>
						<div class="card-footer">
							<a href="#" class="btn btn-action">Find out more</a>
						</div>
					</div>
				</div>
			</div>
		</div> -->
	<!-- </div> -->
</div>

<!-- <section id="team" class="min-vh-100 d-flex flex-column">
	<div class="container flex-grow-1">
		<div class="row my-5 justify-content-center">
			<div class="col-12 my-5">
				<h2 class="bf">The Team</h2>
			</div>
			{% assign sorted-employees = site.employees | sort: 'position' %}
			{% for employee in sorted-employees %}
				<div class="col-10 col-md-4 my-4 px-2" style="max-width: 400">
					<div class="card">
	  					<img src="assets/images/{{ employee.image }}" class="card-img-top">
	  					<div class="card-body">
	    					<h6 class="card-title mb-0 font-weight-bold">{{ employee.name }}</h6>
	    					<p>{{ employee.position }}</p>
					  	</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	<div class="container-fluid bg-dark">
		<div class="row my-5">
			<div class="col-12">
				<blockquote class="blockquote text-center text-white">
	  				<p class="mb-0">“If you can’t explain it simply, you don’t understand it well enough.”</p>
	  				<footer class="blockquote-footer"><cite title="Source Title">Albert Einstein</cite></footer>
				</blockquote>
			</div>
		</div>
	</div>
</section> -->

<!-- <section id="contact" class="min-vh-100 d-flex flex-column">
	<div class="containerfluid d-flex flex-column flex-grow-1 justify-content-center">
		<div class="row flex-grow-1">
			<div class="d-none d-md-block col-6 my-auto">
				<img class="img-fluid" src="assets/images/contact.png">
			</div>
			<div class="col-10 col-md-6 my-auto">
				<h2 class="font-weight-bold">Contact us.</h2>
				<p>contact@accelerytics.com</p>
				<p>+31 6 48 23 93 16</p>
			</div>
		</div>
	</div>
</section> -->

<!-- <footer class="container-fluid bg-dark">
	<div class="media my-5">
		<img src="assets/images/favicon_light.png" class="mr-3" height=40 alt="Accelerytics icon">
		<div class="media-body" style="font-size: 12px">
			<h5 class="mt-0" style="font-size: 14px">Contact</h5>
			Give us a call <a class="action-link" href="tel:+31648239316">+31 6 482 393 16</a><br>
			<i class="far fa-envelope mr-1"></i><a href="mailto:contact@accelerytics.com" class="action-link">contact@accelerytics.com</a>
		</div>
	</div>
</footer> -->