@font-face {
  font-family: 'FuturaPTBold';
  src: url('../fonts/FuturaPTBold.otf') format('opentype');
}

@font-face {
  font-family: 'FuturaPTMedium';
  src: url('../fonts/FuturaPTMedium.otf') format('opentype');
}

@font-face {
  font-family: 'FuturaPTBook';
  src: url('../fonts/FuturaPTBook.otf') format('opentype');
}

body {
  font-family: FuturaPTBook, Roboto, Lato, sans-serif;
  font-weight: 400;
  color: black;
  overscroll-behavior: none;
  min-width: 340px;
}

* {
	border-radius: 0 !important;
}

.bf {
	font-family: FuturaPTMedium;
}

.action-link {
	color: orange !important;
}

.action-link:hover {
	color: orange !important;
}

.btn-action {
	background-color: orange;
	color: white;
}

.bg-dark .btn-action, .bg-black .btn-action {
	background-color: inherit !important;
	color: white !important;
	border: 2px solid orange;
}

.bg-black {
	background-color: black !important;
	color: white !important;
	border: 0 !important;
}

.bg-dark {
	/*background-color: gray !important;*/
	/*background-color: #403D39;*/
	/*background-color: DarkGray !important;*/
	background-color: black !important;
	color: black !important;
	border: 0 !important;
}

.bg-light {
	/*background-color: white !important;*/
	background-color: WhiteSmoke !important;
	color: black !important;
	border: 0 !important;
}

.bg-white .btn-action, .bg-light .btn-action {
	background-color: inherit !important;
	color: black;
	border: 2px solid orange !important;
}

.bg-white {
	/*background-color: white !important;*/
	background-color: white !important;
	color: black !important;
	border: 0 !important;
}

.card-header {
	background-color: inherit;
	border-top: none;
}

.card-footer {
	background-color: inherit;
	border-top: none;
}

.blockquote-footer {
	color: orange;
}

.full-h {
	min-height: max(calc(100vh - 80px), 500px);
}

#landing {
	background-image: url('../images/landing-blurred.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right center;
	/*background-position: left top;
	background-image: url('../images/academy2.jpg');*/
}

@media (min-width: 576px) {
	#landing {
		background-position: center center;
		/*background-position: left top;*/
	}
}

@media (min-width: 576px) and (orientation: portrait) {
	#landing {
		background-position: center bottom;
		/*background-position: left top;*/
	}
}

.bg-dark a, .bg-black a {
	color: white;
}

.bg-light a, .bg-white a {
	color: black;
}

.card a:hover {
	text-decoration: none;
}

.nav-link {
	border: solid 1px black;
}

.nav-link:hover, .nav-link.active {
	border-color: orange;
}

a:hover {
	text-decoration: underline;
}

h1:after {
   background: none repeat scroll 0 0 orange;
   bottom: -10px;
   content: "";
   display: block;
   height: 4px;
   position: relative;
   width: 100px;
   margin-bottom: 2rem;
}

h2:after {
   background: none repeat scroll 0 0 orange;
   bottom: -5px;
   content: "";
   display: block;
   height: 3px;
   position: relative;
   width: 64px;
   margin-bottom: 2rem;
}

h5:after {
   background: none repeat scroll 0 0 orange;
   bottom: -5px;
   content: "";
   display: block;
   height: 3px;
   position: relative;
   width: 32px;
   margin-bottom: 1rem;
}

.navbar-toggler-icon {
  background-image: url(../images/navbar-toggler-icon.svg);
}

.navbar-brand img {
	height: 40px;
}

@media (min-width: 576px) {
	.navbar-brand img {
		height: 50px;
	}
}

/*
	White
	#FFFCF2
*/

/*
	Light grey
	#CCC5B9
*/

/*
	Dark grey
	#403D39
*/

/*
	Black
	#252422
*/

/*
	Orange
	#EB5E28
*/

.card {
    transition: all .3s;
    transform: scale(1);
}

.card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.employee-card:hover > .card-body > p {
	color: orange;
}

.social-icon {
	color: black;
}

.social-icon:hover {
	color: orange;
}