@font-face {
  font-family: 'Futura medium bt';
  src: url('../fonts/futura/futura medium bt.ttf') format('truetype');
}

@font-face {
  font-family: 'Futura light bt';
  src: url('../fonts/futura/Futura Light bt.ttf') format('truetype');
}

@font-face {
  font-family: 'Futura book font';
  src: url('../fonts/futura/Futura Book font.ttf') format('truetype');
}

body {
  font-family: Futura light bt, Roboto, Lato, sans-serif;
  font-weight: 400;
  /*color: #252422;*/
  color: black;
  overscroll-behavior: none;
  min-width: 340px;
}

.bf {
	font-family: Futura medium bt;
}

.action-link {
	color: orange;
}

.action-link:hover {
	color: orange;
}

.btn-action {
	/*background-color: #EB5E28;*/
	background-color: orange;
	/*color: #FFFCF2;*/
	color: white;
}

.bg-dark {
	/*background-color: #252422;*/
	background-color: black !important;
	/*color: #FFFCF2;*/
	color: white !important;
}

.card-header {
	/*background-color: #403D39;
	color: #FFFCF2;*/
	background-color: inherit;
	border-top: none;
}

.card {
	border: 1px solid #403D39;
}

.card-footer {
	background-color: inherit;
	border-top: none;
}

.blockquote-footer {
	color: #CCC5B9;
}

#landing {
	/*background-image: url('../images/landing-small-faded.png');*/
	background-image: url('../images/landing-blurred.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right center;
	min-height: max(100vh, 500px)
}

@media (min-width: 576px) {
	#landing {
		background-position: center center;
	}
}

@media (min-width: 576px) and (orientation: portrait) {
	#landing {
		background-position: center bottom;
	}
}

a {
	/*color: #FFFCF2;*/
	color: white;
}

a:hover {
	color: inherit;
	text-decoration: underline !important;
}

h1:after {
   background: none repeat scroll 0 0 orange;
   bottom: -10px;
   content: "";
   display: block;
   height: 5px;
   position: relative;
   width: 100px;
   margin-bottom: 2rem;
}

.navbar-toggler-icon {
  background-image: url(../images/navbar-toggler-icon.svg);
}

.navbar-toggler {
  /*border-color: white;*/
}

.navbar-brand img {
	height: 40px;
}

@media (min-width: 576px) {
	.navbar-brand img {
		height: 50px;
	}
}

/*
	White
	#FFFCF2
*/

/*
	Light grey
	#CCC5B9
*/

/*
	Dark grey
	#403D39
*/

/*
	Black
	#252422
*/

/*
	Orange
	#EB5E28
*/