<!DOCTYPE html>

<html lang="en-us">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<!-- Set the favicon -->
	<link rel="apple-touch-icon" sizes="76x76" href="assets/images/Branding/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="assets/images/Branding/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="assets/images/Branding/favicon-16x16.png">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ffa500">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ff0000">

	<!-- Import the Lato font -->
	<link type='text/css' href="assets/css/fonts.css">

	<!-- Favicon CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">

	<!-- Load fonts from Google -->
	<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto:400' rel='stylesheet' type='text/css'>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">

	<!-- Custom CSS -->
	<link rel="stylesheet" href="assets/css/styles.css">

	<title>{{ page.title }}</title>

</head>
<body id="body" data-spy="scroll" data-target="nav" data-offset="80">

	{{ content }}
	

	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="assets/js/jquery-3.4.1.min.js"></script>
	<script src="assets/js/popper.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>

	<!-- Custom JavaScript code -->
	<script src="assets/js/scripts.js"></script>
</body>

</html>
