<!DOCTYPE html>

<html lang="en-us">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<!-- Set the favicon -->
	<link rel="icon" type="image/png" href="assets/images/favicon_dark.png">

	<!-- Import the Lato font -->
	<link type='text/css' href="assets/css/fonts.css">

	<!-- Include in <head> to load fonts from Google -->
	<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto:400' rel='stylesheet' type='text/css'>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">

	<!-- Custom CSS -->
	<link rel="stylesheet" href="assets/css/styles.css">

	<title>{{ page.title }}</title>

</head>
<body>

	{{ content }}
	

	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="assets/js/jquery-3.4.1.min.js"></script>
	<script src="assets/js/popper.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>

	<!-- Custom JavaScript code -->
	<script src="assets/js/scripts.js"></script>
</body>

</html>
